<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome page</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="page-container">
            <div class="content-box">
                <h1>Welcome</h1>
                <div class="button-group">
                    <a href="open_signUp">SIGN UP</a>
                    <a href="open_signIn">SIGN IN</a>
                </div>
            </div>
        </div>
    </body>
</html>